<section id="about" class="scrollspy">
    <div class="section-content center-align z-depth-1">
        <div class="image-container">
            {{ partial "macros/image.html" (dict "link" .Site.Data.about.picture "classes" "about-picture circle" "title" ".Site.Params.author") . }}
        </div>
        <div class="row">
            <h1 class="name">{{ .Site.Params.author }}</h1>
            <h2 class="tagline">{{ .Site.Data.about.tagline }}</h2>
            <div class="container">
                <h4 class="introduction">{{ .Site.Data.about.introduction }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col s6"><a class="main-btn red darken-3 right waves-effect waves-light btn-large" target="_blank" href="{{ .Site.Data.about.resume_link }}" rel="noreferrer">Resume</a></div>
                <div class="col s6"><a class="main-btn green darken-2 left waves-effect waves-light btn-large" href="#contact">Contact Me</a></div>
            </div>
        </div>
    </div>
</section>