<section id="projects" class="scrollspy">
    <div class="section-title center-align">
        <h2>
            {{ readFile "/themes/nathanv.me/static/assets/icons/format-list-bulleted.svg" | safeHTML }} Projects</h2>
    </div>
    <div class="row">
        <ul class="tabs z-depth-1">
            <li class="tab col s3"><a class="red-text text-darken-3" data-filter="all" href="#all">All</a></li>
            {{/* initialize empty array */}}
            {{ $categories := slice }}
            {{ range .Site.Data.projects }}
                {{/* get all unique categories */}}
                {{ $categories = union ($categories) (.categories) }}
            {{ end }}

            {{ range $categories }}
            <li class="tab col s3"><a class="red-text text-darken-3" data-filter=".mix-{{ anchorize . }}" href="#{{ anchorize . }}">{{ . }}</a></li>
            {{ end }}
        </ul>
    </div>
    <div class="row flex mix-container">
        {{ range .Site.Data.projects }}
            {{ partial "projects/card.html" . }}
        {{ end }}
    </div>
    {{ range .Site.Data.projects }}
        {{ partial "projects/modal.html" . }}
    {{ end }}
</section>