<section id="skills" class="scrollspy">
    <div class="section-title center-align">
        <h2>
            {{ readFile "/themes/nathanv.me/static/assets/icons/wrench.svg" | safeHTML }} Skills</h2>
    </div>
    <div class="section-content card-panel red darken-3 z-depth-1">
        <div class="row">
            <div class="col s12 m6">
                {{ $skills := .Site.Data.skills.skills }}
                <h3 class="white-text">{{ readFile "/themes/nathanv.me/static/assets/icons/brain.svg" | safeHTML }} Skills</h3>
                {{ if .Site.Data.skills.two_columns }}
                {{ $slice := math.Ceil (div (len $skills) 2.0) }}
                <div class="row">
                    <div class="col s12 m6">
                        <ul>
                        {{ range first $slice $skills }}
                            <li>{{ . | markdownify }}</li>
                        {{ end }}
                        </ul>
                    </div>
                    <div class="col s12 m6">
                        <ul>
                        {{ range last (sub (len $skills) $slice) $skills }}
                            <li>{{ . | markdownify }}</li>
                        {{ end }}
                        </ul>
                    </div>
                </div>
                {{ else }}
                <ul>
                {{ range $skills }}
                    <li>{{ . | markdownify }}</li>
                {{ end }}
                </ul>
                {{ end }}
            </div>
            <div class="col s12 m6">
                <h3 class="white-text">{{ readFile "/themes/nathanv.me/static/assets/icons/certificate.svg" | safeHTML }} Certifications</h3>
                {{ .Site.Data.skills.certifications | markdownify }}
            </div>
        </div>
    </div>
</section>