<section id="socialmedia" class="scrollspy">
    <div class="section-content card-panel white z-depth-1">
        <div class="row center-align">
            {{ $list := .Site.Data.socialmedia }}
            {{ $len := (len $list) }}

            {{ range $list }}
            <div class="col s{{ div 12 $len }}">
                <a class="red-text text-darken-3 social-icon tooltipped" data-position="top" data-tooltip="{{ .name }}" target="_blank" rel="noreferrer" href="{{ .link }}" title="{{ .name }}">{{ readFile .icon | safeHTML }}</a>
            </div>
            {{ end }}
        </div>
    </div>
</section>