/* General CSS */

html {
    font-family: "Arial";
    background-color: #e3e3e3;
}


/* set navbar text size */
nav ul a {
    font-size: 0.9rem;
}

/* make active navbar element stand out */
nav .nav-wrapper li a.active{
    color:white !important;
    transition: color 0.2s;
}

/* sidenav icon sizing and color */
.sidenav-trigger svg {
    fill: white;
    height: auto;
    width: 36px;
    margin-top:12px;
}

/* set section background color and padding */
section .section-content {
    background-color: white;
    padding: 20px;
}

/* section titles and icons */
.section-title h2 {
    color: rgba(0, 0, 0, 0.7);
    font-size: 24pt;
}

.section-title h2 svg{
    fill: rgba(0, 0, 0, 0.7);
}

/* fade in lazyloaded images */

.lazyload,
.lazyloading {
	opacity: 0.5;
}

iframe.lazyload,
iframe.lazyloading{
    background: white url(../../assets/images/loader.gif) no-repeat center;
}


.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}

/* don't display noscript images*/
.no-js img.lazyload {
    display: none;
}

/* change carousel color indicators */
.carousel .indicators .indicator-item {
    background-color: #212121;
}

.carousel .indicators .indicator-item.active {
    background-color: #bdbdbd;
}

/* flexbox items */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex .col {
    margin-left: 0 !important;
}

/* About section */

#about {
    padding-top: 10em;
}

/* poisition profile picture */
@media screen and (min-width: 600px){
    #about .about-picture {
        margin-top: -125px;
        height: 200px;
        width: 200px;
    }
}

/* make picture smaller on small screens */
@media screen and (max-width: 600px){
    #about .about-picture {
        margin-top: -100px;
        height: 150px;
        width: 150px;
    }
}


#about .name {
    font-size: 27pt;
    font-weight: 700;
}

#about .tagline {
    font-size: 16pt;
}

#about .introduction {
    font-size: 12pt;
}

#about .main-btn {
    width: 10rem;
}

/* Work experience */

.position-info-wrapper {
    padding-left: 1em;
}

.position-logo-wrapper {
    width: 100px;
    min-width: 100px;
}

/* make logo smaller on small screens */
@media screen and (max-width: 600px) {
    .position-logo-wrapper {
        width: 50px;
        min-width: 50px;
    }
  }

.position-logo {
    display: block;
    width: 100%;
    height: auto;
}

/* bold position */
.position-title {
    font-weight: bold;
}

.position-dates {
    margin-top: 0.7em;
    margin-left: auto;
}

/* add markers to lists */
.collapsible-body ul li{
    list-style-type: disc;
}

/* Skills section */

#skills h3 {
    font-size: 20pt;
}

#skills h3 svg{
    fill: white;
}

/* makes nested listed indented */
#skills ul {
    padding-left: 2em;
}

/* change link color */
#skills ul a {
    color: rgb(180, 180, 180);
}

#skills ul>li {
    list-style-type: disc;
    color: white;
}

/* Projects */

/* allow modal content to break words */
#projects .modal-content {
    word-break: break-word;
}

/* add disc to lists */
#projects .modal-content ul>li{
    list-style-type: disc;
}

/* make modals a bit taller */
#projects .modal.modal-fixed-footer{
    max-height: 80%;
    height: 80%;
}

/* Contact */

/* fixes issue with ifram preventing scrolling if mouse is hovered over */
#contact iframe{
    -webkit-overflow-scrolling: touch;
}

/* Social media */

/* stylistic padding */
#socialmedia {
    padding-top: 3em;
}

/* remove margin on bottom */
#socialmedia .row{
    margin-bottom: 0;
}

/* fill the icon and set width */
.social-icon svg {
    fill: #C62828;
    height: auto;
    width: 3rem;
}