<div id="{{ anchorize .name }}-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>{{ .name }}</h4>
        <div class="row">
            {{ if (.images) }}
                {{ $imagelen := (len .images) }}
                {{ if (gt $imagelen 1) }}
                {{/* Multiple images */}}
                <div class="media-wrapper flex">
                    {{ range .images }}
                    <div class="col s6">
                        {{ partial "macros/lazyimage.html" (dict "link" . "classes" "materialboxed img-responsive" "title" "") }}
                    </div>
                    {{ end }}
                </div>
                {{ else if eq $imagelen 1}}
                {{/* One image */}}
                {{ $image := index (.images) 0 }}
                {{ partial "macros/lazyimage.html" (dict "link" $image "classes" "materialboxed col s12 responsive-img" "title" .name) }}
                {{ end }}
            {{ else if (.video)}}
            {{/* A video */}}
            <div class="col s12">
                <div class="video-container">
                    <iframe class="lazyload" width="560" height="315" data-src="{{ .video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            {{ end }}

            <div class="col s12">
                <br>
                {{ .description | markdownify }}
                <p><b>Date:</b> {{ .date }}
                {{ if (.source_code) }}
                <br>
                <b>Source Code:</b> <a class="break-word" target="_blank" rel="noreferrer" href="{{.source_code }}">{{.source_code }}</a>
                {{ end }}
                {{ if (.url) }}
                <br>
                <b>Link:</b> <a class="break-word" target="_blank" rel="noreferrer" href="{{.url }}">{{.url }}</a>
                {{ end }}
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves btn-flat">Close</a>
    </div>
</div>