<li>
    <div class="collapsible-header">
        <div class="position-logo-wrapper valign-wrapper">
            {{ partial "macros/lazyimage.html" (dict "link" .logo "classes" "lazypreload position-logo" "title" .company) }}
        </div>
        <div class="position-info-wrapper">
            {{ if .position }}
            <div class="position-title">{{ .position }}</div>
            {{ end }}
            <div class="position-company">
                {{ if not .position}}
                <b>
                {{ end }}
                    {{ if .website }}
                    <a href="{{ .website }}" rel="noreferrer" target="_blank">{{ .company }}</a>
                    {{ else }}
                        {{ if .position}}
                        <span>{{ .company }}</span>
                        {{ else }}
                        <p>{{ .company }}</p>
                        {{ end }}
                    {{ end }}
                {{ if not .position}}
                </b>
                {{ end }}
            </div>
        </div>
        <div class="position-dates right-align">{{ .dates }}</div>
    </div>
    <div class="collapsible-body white">
        {{ .content | markdownify }}
    </div>
</li>