<title>{{ .Site.Title }}{{ if (.Site.IsServer) }} - DEV{{ end}}</title>
<meta name="description" content="{{ .Site.Data.about.introduction }}">
<meta name="author" content="{{ .Site.Params.author }}">
<meta name="theme-color" content="#A41E22">

<meta name="twitter:title" content="{{ .Site.Title }}">
<meta name="twitter:description" content="{{ .Site.Data.about.introduction }}" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ .Site.Data.about.picture | absURL }}" />
<meta name="twitter:image:alt" content="{{ .Site.Params.author }}">

<meta property="og:title" content="{{ .Site.Title }}" />
<meta property="og:description" content="{{ .Site.Data.about.introduction }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ .Site.Data.about.picture | absURL }}" />
<meta property="og:site_name" content="{{ .Site.Title }}">