<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper red darken-3">
            <a href="#" data-target="sidenav-btn" class="sidenav-trigger" title="Sidenav">{{ readFile "/themes/nathanv.me/static/assets/icons/menu.svg" | safeHTML }}</a>
            <div class="container">
                <ul class="left hide-on-med-and-down">
                    {{ range .Site.Menus.main }}
                    <li><a class="red-text text-lighten-3" href="{{ .URL }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </nav>
</div>
<ul class="sidenav" id="sidenav-btn">
    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}">{{ .Title }}</a></li>
    {{ end }}
</ul>